<title>BlauwGeel</title>
<meta charset="UTF-8" />
<meta name="msapplication-config" content="none" />
<link href='/css/bootstrap.min.css' rel='stylesheet' type='text/css' />

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/html5shiv.js"></script>
<script type="text/javascript" src="/js/respond.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
