{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %} 

{% block main_content %}

<div class="row">
    <div class="col-md-12">
            <h1>BlauwGeel: TODO ITEM</h1>
        </div>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

</div>

{% endblock main_content %}
